<%=  t 'events.main.sections' %>

<% if @event.sections.count < 5 %>
  <%= render 'sections/form' %>
<% end %>
<div id="new-section"></div>
<div class="row">
<div class="col-md-12">
  <p class="bg-success"><%= t 'sections.notes' %></p>
</div>
<div class="list-unstyled col-md-12 sortable" id="sections">
  <% @event.sections.each do |section| %>
      <%= render partial: 'sections/section', locals: {section: section} %>
  <% end %>
</div>
</div>
