<div class="row">
  <div class="col-md-6">
    <%= render 'events/form' %>
  </div>
  <div class="col-md-6">
      <div id="map"></div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
